[Unit]
Description=Push 2 talk
After=pipewire-pulse.service

[Service]
ExecStart=/usr/bin/push2talk
EnvironmentFile=-%E/push2talk/service.conf
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
