[Unit]
Description=Push 2 talk
PartOf=hyprland-session.target
After=pipewire-pulse.service

[Service]
ExecStart=/usr/bin/push2talk
Restart=always
RestartSec=10s

[Install]
WantedBy=hyprland-session.target
